body {
  margin: 0;  
  background-color: white; /* <-- This is important */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-content {
  color: white;
  min-height: 100vh;
  padding-top: 100px; /* match navbar height */
}
